html,body {
  background-color: #3f3456;
}

form {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

form h1 {
  margin: 0 0 30px 0;
  text-align: center;
  color: #3A312A;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #3A312A;
}

.form-submit {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #D7E057;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #b0b846;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-input {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;

}

.nav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 100px;
  right: 10px;
  overflow-x: hidden;
  padding: 20px 0;
}

.nav a {
  display: block;
}

.nav-icon {
  height: 75px;
  width: 75px;
}

li a:title {
  background-color: #FCE8CB;
}

.home-intro {
  margin: 80px 75px;
  padding: 50px 25px;
}
.home-intro h1 {
  color: #FFF;
  font-size: 75px;
  font-family: 'Mitr', sans-serif;
  text-align: left;
}

.home-intro p {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/*HOME PAGE POM*/
.pom-uni {
  height: 182px;
  position: absolute;
  top: 50%;
  left: 145px;
  transform: translate(0, -50%);
}
.pom-uni .pom-ears {
  height: 0;
  width: 0;
  position: relative;
  left: 20px;
  border-bottom: 27px solid #ffe6b3;
  border-left: 10px solid transparent;
  border-right: 23px solid transparent;
}

.pom-uni .pom-ears::before {
  display: block;
  content: "";
  height: 0;
  width: 0;
  position: relative;
  left: 40px;
  border-bottom: 27px solid #ffe6b3;
  border-left: 23px solid transparent;
  border-right: 10px solid transparent;
}

.pom-uni .pom-head {
  height: 100px;
  width: 120px;
  position: relative;
  z-index: 2;
  box-shadow: 8px 0 0 #ffa852;
  border-radius: 35px;
  background: #ffe6b3;
}
