{% extends "base.html" %}


{% block content %}

  <div>
    {% if current_user.is_authenticated %}
      <p>Welcome Back {{current_user.username}}!</p>

    <div class="container">
     {# Go through each blog post #}
     <div class="row">
     {% for post in blog_posts.items %}

       <div class="col-sm-6">
         <div class="card">
           <img style="width:100%;height:300px;"src="../static/profile_pics/default_profile.png" class="card-img-top">
           <div class="card-body">
             <h2><a class="card-title" href="  {{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h2>
             <a href="{{ url_for('users.user_posts', username=post.author.username) }}">Written By: {{ post.author.username }}</a>
             <p>Published on: {{ post.date.strftime('%Y-%m-%d') }}</p>
             <p class="card-text">{{ post.text[:100] }}...</p>
             <a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}" class="btn btn-primary">Read Blog Post</a>
           </div>
         </div>
       </div>

    {% endfor %}
    </div>

    <nav aria-label="Page navigation">
     <ul class="pagination justify-content-center">
       {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if blog_posts.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}
    </nav>

    {% else %}
    <div class="home-intro">
      <h1>Dawg Blawg.</h1>
      <p>Welcome to this cool place where you can talk about your dog and other people's dogs!</p>
      <a class="btn btn-primary btn-lg" href="{{ url_for('users.login') }}" role="button">Login</a>
      <a class="btn btn-info btn-lg" href="{{ url_for('users.register') }}" role="button">Register</a>
    </div>
    {% endif %}

  </div>
{% endblock %}
